body {
    background-color: rgb(230, 207, 252);
}


/* 勤務地モーダルチェックボックス */

input[type=checkbox] {
    display: none; 
 }

.checkbox-list-container {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0 40px;
}

.checkbox-list-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0;
}

.checked-border-area {
    margin-right: 16px;
}

.checkbox-label-area {
    background-color: #F1F1F3;
    padding: 16px 0px;
    border-radius: 5px;
}

.checkbox-label-area-checked {
    background-color: #cad3e7;

    border-radius: 5px;
}

.checkbox-area {
    display: inline-block;
    padding: 16px 4px;
    color: #333;
  }

.checkbox-label-area:hover {
    background-color: #DBDFE9;
    border-radius: 4px;
    color: #11296C;
}

.checkbox-label-border-area {
    border:solid 2px #4E6091;
    background-color: #cad3e7;
    border-radius: 5px;
    padding: 14px 0;
    color: #11296C;
    margin: -10px 16px -8px 0;
}

.checkbox-text-area {
    position: relative; 
    padding: 0px 72px 0px 40px; 
    font-size: 16px;
    font-weight: 600;
  }

  
.text3 {
    padding: 0px 56px 0px 40px;
}


.checkbox-text-area-checked {
    position: relative; 
    padding: 0px 69px 0px 40px; 
    font-size: 16px;
    color: #11296C;
    font-weight: 900;
}

.text3-checked {
    padding: 0px 53px 0px 40px;
}

.checkbox-text-area:after {
    position: absolute; 
    content: ""; 
    display: block; 
    top: 50%; 
    left: 8px; 
    margin: -12px 0 0 -2px;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(214, 215, 220); 
    border-radius: 20%; 
    background-color: #fff;
  }

.checkbox-text-area-checked:after {
    position: absolute; 
    content: ""; 
    display: block; 
    top: 50%; 
    left: 8px; 
    margin: -12px 0 0 -2px;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(214, 215, 220); 
    border-radius: 20%; 
    background-color: #fff;
  }


.checkbox-text-area:hover:after {
    border-color: #a9a9c6; 
 }

.checkbox-text-area-checked:after, 
.checkbox-text-area-checked:before {
    position: absolute; 
    content: ""; 
    display: block; 
    top: 50%;
}

.checkbox-text-area-checked:before {
    left: 14px; 
    margin-top: -7px; 
    width: 6px; 
    height: 11px; 
    border-right: 2px solid #11296c; 
    border-bottom: 2px solid #11296C; 
    transform: rotate(45deg); 
    opacity: 0; 
    z-index: 10;
}

input[type=checkbox]:checked + .checkbox-text-area-checked:before {
    opacity: 1; 
}